.intro-bg{
    background-color: $cor-branco;
}

.form-bg{
    background:rgba(251, 251, 255, 1);
}

.footer-bg{
    background: #191C5A;
}



//============================= HEADER =============================

#header{ 
    .header{
        display: flex;
        align-items: center;
        gap: 240px;
        position: relative;
        justify-content: center;
        padding: 10px;
    }
}

#introducao{
    background: url(/assets/img/img-principal/aero-bg.png) no-repeat;
    background-size: cover;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    h1{
       
        font-weight: 500;
        font-size: 48px;
        line-height: 130%;
        color: $cor-branco;
        text-align: center;
        letter-spacing: -0.05em;
    }

    .swipper-introducao{
        display: flex;
        margin-top: 24px;
        gap: 5px;
        
        span{
            display: block;
            width: 10px;
            height: 6px;
            background: #E8E8EF;
            border-radius: 4px;
            
        }
    }
}

#formulario-prevencao0{
    
    
    .formulario-prevencao0{
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 12px 32px rgba(77, 78, 81, 0.08);
        border-radius: 8px;
        margin-bottom: 160px;
        position: relative;
        top: -120px;
        @include d(t){
            margin-top: 10px;
            margin-bottom: 10px;
            top: 0;
            max-width: 340px;
        }

        .informacao-formulario{
            display: flex;
            gap: 12px;
            margin-top: 32px;
            margin-left: 32px;
            margin-right: 32px;
            margin-bottom: 24px;
            border-bottom: 1px solid rgba(230, 230, 231, 1);
            .img-atencao{
                img{
                    min-width: 56px;
                }
                             
            }

            @include d(t){
               display: block;
               margin-left: 0px;
               margin-right: 0px;
            }

            .informacoes{
                margin-bottom: 32px;
                p{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 130%;
                    letter-spacing: -0.02em;
                    color: #444554;
    
                    span{
                        font-weight: bold;
                    }
                }

            }
            
        }

        .formulario{
            margin-left: 32px;
            margin-right: 32px;
            
            @include d(t){
               
                margin-left: 10px;
                margin-right: 10px;
             }

            .detalhe-form{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 32px;
                justify-content: space-between;
                margin-top: 32px;

                .back{
                    display: flex;
                    align-items: center;       

                    a{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 130%;
                        letter-spacing: -0.02em;
                        color: #191C5A;
                    }
                }

                .detalhe-inicio-form{
                    display: flex;
                    gap: 6px;

                    span{
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #BABBCE;
                    }

                    #ativo{
                        background: #191C5A;
                    }
                } 
            }

            h2{
                font-weight: 700;
                font-size: 18px;
                line-height: 130%;
                letter-spacing: -0.05em;
                color: #444554;
                
            }

            form{ 

                .form-descricao{
                    padding-bottom: 32px;
                    border-bottom: 1px solid rgba(230, 230, 231, 1);
                    margin-top: 24px;

                    textarea{
                        max-width: 100%;
                        min-width: 100%;
                        max-height: 120px;
                        background: #F5F5F6;
                        border-radius: 4px;
                        border: none;
                    }
                }
                
                .form-descricao.desc{
                    border-bottom: none;
                }

                .captcha{
                    .num-captcha{
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        max-width: 720px;
                        height: 79px;
                        background: rgba(25, 28, 90, 0.05);
                        position: relative;

                        p{
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 130%;
                            letter-spacing: -0.02em;
                            color: #191C5A;
                            text-align: center;
                        }

                        a{
                            position: absolute;
                            right: 20px;
                        }
                    }

                    .captacao{
                        margin-top: 16px;
                        margin-bottom: 50px;

                        label{
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 130%;
                            letter-spacing: -0.02em;
                            color: #606172;
                        }
                    }

                   
                }

                input{
                    background: #F5F5F6;
                    border-radius: 4px;
                    border: none;
                    width: 100%;
                    display: block;
                    height: 48px;
                }

                label{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 130%;
                    letter-spacing: -0.02em;
                    color: #606172;
                }

                .grid-2{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 24px;
                    @include d(t){
                        grid-template-columns: 1fr;
                    }
                }

                .continuar{
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 32px;
 
                     a{
                         background: #191C5A;
                         border-radius: 4px;
                         color: #FFFFFF;
                         text-decoration: none;
                         padding: 15px 52px 15px 15px;
                         
                         background-image: url('/assets/img/img-principal/arrow-button.svg');
                         background-repeat: no-repeat;
                         background-position: right 20px center;
 
                        
                        }
                        @include d(t){
                            display: grid;
                            justify-content: inherit;
                         }
                 }
            }

            
        }  
    }
}

//============================= FOOTER =============================
#footer{
    .footer{
       display: flex;
       color: $cor-branco;
       justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;

        @include d(t){
            display: none;
            
        }

        p{
            font-size: 16px;
            line-height: 120%;            
            letter-spacing: -0.02em;
            color: #F2F8FA;

        }
    }
}